body{
    background: linear-gradient(45deg, blue, red, yellow);
}

#div{
    position: absolute;
    width: 458px;
    height: 211px;
    left: 793px;
    top: 174px;
    border-radius: 35px;
    text-align: center;
}

.Letra{    
font-style: italic;
font-weight: 400;
font-size: 36px;
line-height: 44px;

color: #FFFFFF;
}

.barra{
    height: 30px;
    width: 400px;
background: #D9D9D9;
border-radius: 18px;
}

.cadastro{
    position: relative;
    font-size: 50px;
}
