.letra{    
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    
    color: #FFFFFF;
    text-align: center;
    position: relative;
    }

.div{
    
    text-align: center;
    position: absolute;
    width: 558px;
    height: 427px;
    left: 793px;
    top: 174px;
    border-radius: 35px;
    text-align: center;

}
body{
    background: linear-gradient(45deg, blue, red, yellow);
}

.comprar{
    position: relative;
    left: 150px;
    top: 1px;
    color: white;
}
